#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul li {
  list-style: none;
}

ul {
  padding: 0;
}

.container__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid blue;
  width: 900px;
}

.container__card {
  border: 2px solid red;
  width: 300px;
  height: 500px;
}
.animation__attack {
  animation: attack 0.1s linear 4 alternate;
}

.container__card h3 {
  margin: 0;
}

.container__card img {
  width: 100%;
  border-radius: 8px;
}

@keyframes attack {
  to {
    transform: translateX(10px);
  }
  from {
    transform: translateX(0);
  }
}
